/*
*MiniFrame css karkasas Lic GNU
*Author Name Darius Jakaitis, author web site http://www.manowebas.lt
*/
html, body {
    height: 100%;
	width: 100%;
	margin: 0;
	background-color:#F3F3F3;
	font-family: Arial, Sans-Serif; 
	line-height: 150%;  
	color:##333333;  
}
div {
	border: 0px dashed #888;
	margin: -1px;
}

#header {
  min-height:65px;
background: rgb(244,244,246);
background: linear-gradient(180deg, rgba(244,244,246,1) 0%, rgba(230,230,230,1) 38%, rgba(233,233,229,1) 86%, rgba(241,240,240,1) 100%);

}
#menu {
  border-top: 1px solid #b6b6b6;
  background: rgb(246,246,246);
  background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(232,232,233,1) 5%, rgba(237,237,237,1) 96%, rgba(247,247,247,1) 100%);
  box-shadow: 0px 7px 5px -7px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 7px 5px -7px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 7px 5px -7px rgba(0,0,0,0.8);
  
 }
.header {
	padding-top:10px;
	min-height:65px;
    background: rgb(244,242,242);
    background: linear-gradient(126deg, rgba(244,242,242,1) 0%, rgba(238,237,237,1) 47%, rgba(241,239,239,1) 100%);

}

.header-brand {
	padding: -1 22px;
	min-height:15px;
}
.sign-up {
	margin-top: 10px;
    margin-bottom:-5px;
}
#banner {	
    margin-top:3px;
	background: rgb(140,218,255);
	background: linear-gradient(180deg, rgba(140,218,255,1) 0%, rgba(108,205,246,1) 3%, rgba(16,169,221,1) 88%, rgba(7,172,215,1) 97%, rgba(85,173,203,1) 100%);
    margin-bottom: 70px;
}
h1.banner-title {
		/*font*/
	font-family: Quicksand, sans-serif;
    text-align: left;
    font-size: 48px;
    letter-spacing: -4px;
    word-spacing: 4px;
	line-height:120%;
	font-weight:lighter;
    color: rgb(255, 255, 255);
    background-color: rgba(85, 74, 74, 0);
    text-shadow: rgb(0, 0, 0) 0px 0px 1px;
	/*font*/
}

.head-bg {
	min-height:460px;
	
}
.nav-navbar {
	margin-top: 10px;
	padding: 0;
	min-height:52px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 5px 11px 5px 11px;
 }
.nav-link:focus { 
  display: block;
  border-radius:5px;
  border: 1px solid #B67C00;
  margin: -1px;
  background: rgb(221,115,1);
  background: linear-gradient(315deg, rgba(221,115,1,1) 0%, rgba(221,130,11,1) 47%, rgba(241,239,239,1) 100%);
  
}
  
.nav-link:active{
  color: #333;
}.nav-link:focus{
  color: #333;
}
.nav-item {
  padding: 8px 0px 2px 0px;
 }
.nav-item a {
  text-transform: uppercase;
  color: #808080;
  font-size:1.1rem;
  font-weight: lighter;
  font-family:Arial Narrow, sans-serif;
}
.flex-wrap {    
	flex-wrap: wrap;
}
.no-wrap {
	display: inline-flex;
}
.plus-conten {
	padding: 3rem 2rem 0rem 3rem;
}

.img-nav-menu {
	width: 80px;
	padding: 7px 10px 10px;
	float: left;
}
.content-portfolio {
    min-height:12px;
	margin-top: 21px;
	/*background-color:#F3F3F3; radius backas*/
	background: rgb(243,243,243);
    background: radial-gradient(circle, rgba(243,243,243,1) 0%, rgba(208,207,207,1) 49%, rgba(208,207,207,1) 49%, rgba(243,243,243,1) 100%);
    border-bottom: 3px solid #C5C5C5;
}
#portfolio {	
	width: 100%;
	background-color:#F3F3F3;
		
}
.content-advertising {
    min-height:340px;
	padding:12px;
	background-color:#F3F3F3;
}
#advertising {	
	width: 100%;
	background-color:#F3F3F3;
	
}
.img-advertising {
	width: 540px;
	float:left;
	padding:20px 20px;
	margin-right:20px;
}
.plus-content-adver {
	margin: 30px;
	padding: 0px 30px;
}
.adv-1 {
	width:220px;
	display: inline-flex;
	margin-top:0px;
	padding: 0px;
}
.sentence {
	position:realitive;
	width:100%;
	min-height:250px;
	border: 1px solid #BEBEBE;
	background-color: #E6E6E6;
}
.sentence-brd {
	margin:20px;
	min-height:210px;
	background: rgb(243,243,243);
	background: linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(250,250,250,1) 46%, rgba(245,245,245,1) 100%);
	border: 1px solid #FFF;
	padding: 30px;
}
.content-slogan {
	min-height:270px;
	width: 100%;
	margin-bottom:50px;
	padding:20px;
}

.slogan-img {
	margin-bottom: -5px;
	margin-left:15px;
	
}
.say-txt {
	position: realitive;
	margin-top:-10px;
	margin-left:700px;
	width: 320px;
	display: inline-flex;
	left: 10px;
}
#footer {
	background-color:#50504E;
	min-height:340px;
}

.c-grid {
  padding:15px;
  grid-template-areas: "col-one col-two col-three col-four";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(280px, 1fr); 
}




.no-wrap-footer {
	display: inline-flex;
margin-top:-4px;
margin-bottom:-1px;
}


#after-footer {
	background-color:#CECECE;
	
}
.f-down {
	background-color:#CECECE;
}
.footer-down {
	width: 80%;
	height:42px;
	
}
.nav-footer {
	background-color:#CECECE;
	color:#6F6F6E;
	
}
ul.nav-items-footer {
	list-style-type: none;
	margin: -40px 0 0 0;
	padding: 0;
	overflow: hidden;
}

li.nav-item-footer{
	float: right;
}
li.nav-item-footer a {
	font-family: Arial, Helvetica, sans-serif;
	color: #6F6F6E;
	text-align: center;
	padding: 3px 8px;
	text-decoration: none;
	font-size: 13px;
}
li.nav-item-footer a:hover {
	background: transparent;
	color:#4B4C4C;
}
.space {
	border: 1px solid transparent;
	padding: 1px;
}
.img-w-footer { width:120px;/*120*/}

.img-twitt-footer { 
	position: realitive;
	display: inline-block;
	width:200px;
	float:left;
	margin-top:-50px;
	margin-left:60px;
}

/* Apačios (footer) paveikslėlių turinys kuris sudarytas iš 4 paveikslėlių*/
.tabs {
display: grid;
grid-template-columns: repeat(2, 1fr); /*Stulpeliai 2*/
grid-template-rows: repeat(2, 1fr);  /*Eilutės 2*/
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.b1 { 
	grid-area: 1 / 1 / 2 / 2; 
}
.b2 { 
	grid-area: 1 / 2 / 2 / 3; 
}
.b3 { 
	grid-area: 2 / 1 / 3 / 2; 
}
.b4 { 
	grid-area: 2 / 2 / 3 / 3; 
}
